@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
body {
    padding: 0;
    margin: 0;
    background-image: url('https://st4.depositphotos.com/15733704/24991/v/450/depositphotos_249911356-stock-illustration-dog-paw-seamless-cat-paw.jpg');
}
.site-wrapper {
    width: 650px;
    min-height: 750px;
    border: 1px solid black;
    transform: translateX(160px);
    background-color:rgb(255, 255, 255);
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
}
li {
    text-decoration: none;
    list-style: none;
}
.button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    background-color: red;
    font-size: 14px;
    max-height: 32px;
    margin-bottom: 10px;
}