body {
    padding: 0;
    margin: 0;
    background-image: url('../images/backround.png');
}

.site-wrapper {
    width: 650px;
    min-height: 750px;
    border: 1px solid black;
    transform: translateX(160px);
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: black;
}

li {
    text-decoration: none;
    list-style: none;
}

.button {
    border-radius: 4px;
    padding: 5px;
    background-color: #e4e0d4;
    max-height: 32px;
    margin-bottom: 10px;
}

.alert-article {
    width: 30%;
    margin-left: 407px;
}

