.add-comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-btn {
    margin: 10px;
}

.comments-wrapper {
    border-top: 2px solid black;
    margin: 10px auto;
}

.comment-section {
    text-align: initial;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #edecec;
}

.username {
    padding: 2px 3px;
    margin-top: 0;
}

.comment-info {
    display: flex;
    justify-content: space-between;
}

.comment-timestamp {
    margin: 0;
}