.home-page {
    display: block;
    min-height: 750px;
}

.products {
    height: 200px;
    width: 83%;
    margin-left: 100px;
    border-radius: 10px;
    padding: 10px;
}

.filter-article {
    width: 19%;
    display: flex;
}

.filter-label {
    border: 0;
    display: block;
    background: #d2d5e3;
    padding-right: 6px;
}

#filter {
    border-radius: 8px;
}

.subtype {
    padding: 2px 32px;
    border-radius: 15px;
    margin-left: 20px;
    border: 2px solid;
    border-color: #c2b9a2;
}

.subtype:hover {
    border-color: rgb(101, 101, 105);
    color: black;
}

.subtype-p {
    padding: 0px;
    background: #d2d5e3;
    margin-right: 10px;
    font-size: 20px;
}

.subtype-article {
    display: flex;
    align-items: baseline;
}

.subtype-article,
.filter-article {
    padding: 10px;
}

.selected {
    border-color: black;
}

.details-btn {
    text-decoration: none;
    color: black;
}

.details-btn:hover {
    color: rgb(95, 9, 9);
}