.product-info {
    display: flex;
}
.product-details {
    border: 2px solid black;
    margin: 20px 70px;
    width: 75%;
    align-self: center;
    background-color: white;
}
#buy-btn {
    margin-right: 2px;
}
.invisible {
    display: none;
}
.star-label {
    border: 0px;
    padding: 0;
    width: 40px;
}
.stars-article {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.star-btn {
    display: none;
    color: white;
}
.white {
    color: white;
}
.rating-info {
    font-size: 12px;
    margin-top: 5px;
}
.subtype-p {
    padding: 0px;
    background: white;
    border: 1px solid white;
}
.subtype-article {
    display: flex;
    align-items: center;
}