@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

a,
.greeting,
.profile {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.button {
    font-size: 14px;
}

.logo {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 55px;
}

.filter-label {
    font-size: 20px;
}

#filter {
    font-size: 17px;
}

.category-link:hover {
    font-weight: 800;
}

.auth-label,
.input-field {
    font-size: 15px;
}

.sign-up-link {
    font-size: 15px;
}

.auth-link {
    font-weight: 300;
}

.auth-link:hover {
    font-weight: 600;
}

.product-name {
    font-size: 12px;
}