@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

a, .greeting, .profile {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.logo {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 55px;
}

.filter-label {
    font-size: 20px;
}

#filter {
    font-size: 17px;
}