@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    display: flex;
}

.nav-list {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    width: 100%;
    background-color: #e4e0d4;
    margin: 0;
    color: black;
    text-decoration: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.nav-list li {
    text-decoration: none;
    list-style: none;
    color: black;
}

.logo {
    width: 10%;
    border-radius: 20px;
    font-family: 'Bebas Neue', cursive;
    align-self: center;
    font-size: 40px;
    color: #240667;
    text-decoration: none;
}

.logo:hover {
    color: rgb(2, 103, 123);
    font-size: 45px;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px 0 10px;

}

.profile {
    font-size: 18px;
    background-color: #e4e0d4;
    height: 30px;
    padding: 6px 12px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    box-sizing: content-box;
    border: 1px solid black;
}

.profile:hover {
    color: #441275;
}

.guest-header-article {
    display: flex;
    justify-content: space-between;
}

.user-header-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guest-header-article,
.user-header-article {
    margin-top: 22px;
}

.greeting {
    font-size: 15px;
    font-family: cursive;
    border: 1px solid black;
    padding: 10px;
    margin: 0;
    background: white;
}

.category-link {
    text-decoration: none;
    color: black;
}

.category-link:hover {
    color: #0d2000;
    font-size: 25px;
    font-weight: 800;
}