@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    display: flex;
}

.nav-list {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    width: 100%;
    background-color: #e4e0d4;
    margin: 0;
    color: black;
    text-decoration: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #c2b9a2;
}

.nav-list li {
    text-decoration: none;
    list-style: none;
    color: black;
}

.logo {
    margin: 5px;
    margin-top: 15px;
    width: 10%;
    border-radius: 20px;
    font-family: 'Bebas Neue', cursive;
    align-self: center;
    color: #240667;
    text-decoration: none;
}

.logo:hover {
    color: rgb(2, 103, 123);
}

.upper-header {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

}

.profile {
    font-size: 18px;
    background-color: #e4e0d4;
    height: 30px;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
    box-sizing: content-box;
    border-bottom: 2px solid #c2b9a2;
}

.profile:hover {
    color: #441275;
}

.left-link {
    border-left: 2px solid #c2b9a2;
    border-radius: 0 0 0 15px;
}

.guest-header-article,
.user-header-article {
    display: flex;
    justify-content: flex-end;
}

.greeting {
    height: 48px;
    font-size: 18px;
    padding: 10px;
    margin: 0;
    background-color: #e4e0d4;
    border: 0;
    border-bottom: 2px solid #c2b9a2;
}

#exit {
    border: 0;
    border-bottom: 2px solid #c2b9a2;

}

.category-link {
    text-decoration: none;
    color: black;
}

.category-link:hover {
    color: #0d2000;
    font-size: 25px;
    font-weight: 800;
}

.dog {
    margin-left: 45px;
}

.other {
    margin-right: 45px;
}