@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    display: flex;
}
.nav-list {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    width: 100%;
    background-color: #44a406;
    margin: 0;
}
.nav-list li{
    text-decoration: none;
    list-style: none;    
}
.logo {
    padding: 0;
    width: 25%;
    font-family: 'Bebas Neue', cursive;
    align-self: center;
    font-size: 40px;
    color: rebeccapurple;
}
.upper-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px 0 10px;
    
}
.profile {
    font-size: 15px;
    background-color: #9267be;
    height: 30px;
    padding: 0px 12px;
    padding-top: 9px;
    border: 1px solid black;
}
.logout {
    padding: 12px 10px 29px 13px;
}
.guest-header-article {
    display: flex;
    justify-content: space-between;
}
.user-header-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.greeting {
    font-size: 15px;
    font-family: cursive;
    border: 1px solid black;
    padding: 10px;
    margin: 0;
    background: white;
}