.all-products {
    display: flex;
    list-style: none;
    text-align: left;
    flex-wrap: wrap;
}
.product {
    margin-top: 15px;
    margin-right: 5px;
    border: 2px solid black;
    width: 130px;
    background-color: white;
    height: 210px;
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product p {
    margin: 5px;
    font-size: 12px;
}
.products {
    width: 90%;
    margin: 20px; 
}
.img img{
    width: 70px;
}